---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="code" color="var(--accent-regular)" size="2.5rem" />
    <h2>+3 years of experience</h2>
    <p>Developing and maintaining websites and libraries.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="puzzle-piece" color="var(--accent-regular)" size="2.5rem" />
    <h2>Organized</h2>
    <p>All elements have their own place and purpose.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <!-- TODO: search a better icon -->
    <Icon icon="stack-simple" color="var(--accent-regular)" size="2.5rem" />
    <h2>Minimalist</h2>
    <p>Keep things simple, focus on the essentials and reduce the noise.</p>
  </div>
</section>

<style>
  .box {
    padding: 1.5rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
