---
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="stack">
      <slot />
      <Footer />
    </div>

    <style>
      @media (prefers-reduced-motion: no-preference) {
        :root {
          scroll-behavior: smooth;
        }
      }

      .stack {
        margin-top: 3.5rem;
      }
    </style>
  </body>
</html>
